
%h2 Experimental simple attachments form
- @attachment = Attachment.new

= form_for @attachment, url: api_attachments_path do |f|
  = f.file_field :attachment
  = f.text_field :title, value: 'Title'
  = f.text_area :description, :size => "60x12", value: 'Description'
  = f.submit "Create"


%h1= @issue.title

%div(ng-controller='AngularFireCtrl')

%p What do I want to see here?

%div(ce-conversation)

