.test
  %h3 Test sortable

  %p
    %a(ng-click="adjust()")
      Test

  %div.group

    %div.item(ce-sortable){style: "height: #{rand(100..100)}px"}
      item 1

    %div.item(ce-sortable){style: "height: #{rand(100..100)}px"}
      item 2

    %div.item(ce-sortable){style: "height: #{rand(100..100)}px"}
      item 3

    %div.item(ce-sortable){style: "height: #{rand(100..100)}px"}
      item 4

    %div.item(ce-sortable){style: "height: #{rand(100..100)}px"}
      item 5
