%div
  %h4 Sorry, your comment to "#{@conversation.title}" has been declined

  %p Here is the comment that was declined:
  %blockquote
    #{@post.text}

  %p You can visit the conversation at #{@host}/#/conversation/#{@conversation.code}/#{@conversation.munged_title}

  %p You can adjust your notification settings for this proposal at ...
  %p Or you can completely unsubscribe from CivicEvolution at ...
  -# #{unsubscribe_url(:host=>@host, :_mlc => @mcode)}
  -# #{notification_settings_form_url(:host=>@host, :team_id => @team.id, :_mlc => @mcode)}
    ~''



