:plain
  Sorry, your comment to "#{@conversation.title}" has been declined

  #{@post.text}

  You can visit the conversation at #{@host}/#/conversation/#{@conversation.code}/#{@conversation.munged_title}





