:plain
  Sorry, your guest comment to "#{@conversation.title}" has been declined

  #{@post.text}

  You can visit the conversation at http://app.civicevolution.dev/#/conversation/#{@conversation.code}/#{@conversation.munged_title}

  You can adjust your notification settings for this proposal at ...
  Or you can completely unsubscribe from CivicEvolution at ...
-# #{unsubscribe_url(:host=>@host, :_mlc => @mcode)}
-# #{notification_settings_form_url(:host=>@host, :team_id => @team.id, :_mlc => @mcode)}
  ~''



