:plain
  Your comment to "#{@conversation.title}" has just been accepted

  #{@post.text}

  You can visit the conversation at #{@host}/#/conversation/#{@conversation.code}/#{@conversation.munged_title}

  You can adjust your notification settings for this proposal at ...
  Or you can completely unsubscribe from CivicEvolution at ...
-# #{unsubscribe_url(:host=>@host, :_mlc => @mcode)}
-# #{notification_settings_form_url(:host=>@host, :team_id => @team.id, :_mlc => @mcode)}
  ~''



