- if @join_request == "accepted"
  :plain
    Your comment and request to join "#{@conversation.title}" have just been accepted

    #{@post.text}

- elsif @join_request == "declined"
  :plain
    Your comment to "#{@conversation.title}" has just been accepted, but your request to join the conversation has been declined

    #{@post.text}

- else
  :plain
    Your comment to "#{@conversation.title}" has just been accepted

    #{@post.text}

~''
~''
You can visit the conversation at #{@host}/#/conversation/#{@conversation.code}/#{@conversation.munged_title}




