:plain
  Congratulations #{@recip.first_name}, your conversation has been published at CivicEvolution

      #{@conversation.title}


  You can visit your conversation at #{@host}/#/conversation/#{@conversation.code}/#{@conversation.munged_title}

  Now you can share this link and invite your friends to your conversation

  We'd love to hear from you if you have any questions, problems, or suggestions.

  Cheers,

  Brian
