:plain
  Hello #{@recip_first},

  I'm hoping you can join me in a conversation called "#{@conversation.title}"

~''
- if @message
  = @message
  ~''

:plain
  Just click this link and you can get started right away:

  #{@invite_href}

  If you have any questions about this, you can email me directly at #{@sender.email}

  I hope you will join us soon,

  #{@sender.first_name}

-# #{unsubscribe_url(:host=>@host, :_mlc => @mcode)}
-# #{notification_settings_form_url(:host=>@host, :team_id => @team.id, :_mlc => @mcode)}
  ~''



