.mca-detailed-report
  %div(ng-if="page.id")
    %p
      %a(ng-click="show_service(0)")
        %b Return to List of Services

    %tabset
      %tab(select="set_tab('draft_recommendation')"){heading: "Draft Recommendation"}
        .tab-contents(ng-include="'#{ path_to_asset("live/reports/details/draft-recommendation.html") }'")

      %tab(select="set_tab('team_review')"){heading: "Team Review(s)"}
        .tab-contents(ng-include="'#{ path_to_asset("live/reports/details/team-review.html") }'")

      %tab(select="set_tab('preliminary_recommendation')"){heading: "Preliminary Recommendation"}
        .tab-contents(ng-include="'#{ path_to_asset("live/reports/details/preliminary-recommendation.html") }'")

      -#%tab(select="set_tab('community_feedback')"){heading: "Community Feedback"}
        .tab-contents(ng-include="'#{ path_to_asset("live/reports/details/community-feedback.html") }'")

      -#%tab(select="set_tab('final_recommendation')"){heading: "Final Recommendation"}
        .tab-contents(ng-include="'#{ path_to_asset("live/reports/details/final-recommendation.html") }'")



  %div( ng-if="page.id == 0" )
    %div(ng-include="'#{ path_to_asset("live/reports/details/list-table.html") }'")
