.mca-detailed-report
  %h4 Services list
  %table(border="0")
    %tr
      -#%th Service Name
      %th Service Name
      -#%th Budget Direction
      %th Budget Direction
      %th Specific Actions
      %th Reason/Suggestion/Comment
      %th Vote

    - @report.each do |row|
      %tr{class: cycle('','striped')}
        -#%td
          .category= row[:category]
          = row[:service_title]
        %td
          .td-no-break
            - if row[:title] == 'As above'
              .as-above= row[:title]
            -else
              = row[:title]
            - if row[:cat] != ''
              .category= row[:cat]
        -#%td= row[:level]
        %td
          .td-no-break
            - if row[:level_r] == 'As above'
              .as-above= row[:level_r]
            -else
              = row[:level_r]
        %td.action
          .td-no-break
            - case row[:specific_action][:form]
              - when 'mix'
                %div
                  %i.fa.fa-plus
                  %div.mixed-recs.inc= row[:specific_action][:increase]
                %div
                  %i.fa.fa-minus
                  %div.mixed-recs= row[:specific_action][:decrease]
              - when 'more'
                = row[:specific_action][:increase]
              - when 'less'
                = row[:specific_action][:decrease]
        %td.reason
          .td-no-break
            - case row[:suggestion][:form]
              - when 'suggestion'
                %span= row[:suggestion][:text]
              - else
                %span= row[:specific_action][:reason]

        %td
          .td-no-break