= link_to "Ce2", root_path, :class => 'brand'
%ul.nav
	- if user_signed_in?
		%li
			Hello #{current_user.name}
		%li
			= button_to('Logout', destroy_user_session_path, :method => :delete, class: "link_button")
	- else
		%li
			= button_to('Login', new_user_session_path, :method => :get, class: "link_button")
	- if user_signed_in?
		%li
			= button_to('Edit account', edit_user_registration_path, :method => :get, class: "link_button")
		- if current_user.has_role? :admin
			%li
				= button_to('Admin', users_path, :method => :get, class: "link_button")
	- else
		%li
			= button_to('Sign up', new_user_registration_path, :method => :get, class: "link_button")
