!!!
%html(xmlns:ng="http://angularjs.org")
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= @issue.try{|issue| issue.title} || ( content_for?(:title) ? yield(:title) : 'CivicEvolution')
    %meta{:content => content_for?(:description) ? yield(:description) : "Ce2", :name => "description"}
    -#= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :media => "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css", :media => "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    <base href="/" />
    = yield(:head)
    /[if lt IE 9]
      <script src="/assets/jquery-1.9.1.js"></script>
      <script src="/assets/excanvas-r73.js"></script>
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.user-bar
          %div(ce-user-bar)
    #main{:role => "main"}
      .container
        .content
          .row
            .col-md-12
              %div(ui-view)
          %footer
      / ! end of .container
    / ! end of #main

    = javascript_include_tag "angular-application"