!!!
%html(xmlns:ng="http://angularjs.org")
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= @issue.try{|issue| issue.title} || ( content_for?(:title) ? yield(:title) : 'CivicEvolution')
    %meta{:content => content_for?(:description) ? yield(:description) : "Ce2", :name => "description"}
    -#= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css", :media => "all"
    -#= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    <base href="/" />
    = yield(:head)
    /[if lt IE 9]
      <script src="/assets/jquery-1.9.1.js"></script>
      <script src="/assets/excanvas-r73.js"></script>
  %body{:class => "#{controller_name} #{action_name}"}
    #top-navbar.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.user-bar
          %div(ce-user-bar)
    #main{:role => "main"}
      .container
        .content
          %div(ng-controller="AlertCtrl")
            %alert(ng-cloak ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)")
              %div(ng-bind-html="alert.msg" )
          .row
            .col-md-12
              %div(ui-view)
          %footer(ng-controller="ActivityMonitorController")
      / ! end of .container
      %script(type="text/ng-template" id="/assets/live/menu/theme-allocation.html")
        %div.menu-link-set
          %h4(ng-repeat="link in comp.links")
            %a{href: "{{link.href}}"}
              {{link.title}}

      %script(type="text/ng-template" id="/assets/live/menu/small-group-deliberation.html")
        %div.menu-link-set
          %div(ng-repeat="conversation in comp.conversations")
            %h4
              %a{href: "{{conversation.link}}"}
                {{conversation.title}}


    / ! end of #main
    %div(ce-loading)

    = javascript_include_tag "angular-application"