!!!
%html(xmlns:ng="http://angularjs.org")
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= @issue.try{|issue| issue.title} || ( content_for?(:title) ? yield(:title) : 'CivicEvolution')
    %meta{:content => content_for?(:description) ? yield(:description) : "Ce2", :name => "description"}
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css", :media => "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
    /[if lt IE 9]
      <script src="/assets/jquery.js"></script>
      <script src="/assets/excanvas.js"></script>
  %body{:class => "#{controller_name} #{action_name}"}
    -#.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.user-bar
          %div(ce-user-bar)
    #main{:role => "main"}
      .container-fluid
        .content


          .row-fluid
            .span12
              %div(ng-controller='AngularFireCtrl')
              %div(ui-view)
          %footer
      / ! end of .container
    / ! end of #main
    
    = javascript_include_tag "application"
    :javascript
      var _timestamp = #{Time.new.to_i}
      var issue_data = #{IssueSerializer.new(@issue).to_json}